{% extends base %}
{% block content %}
  <div class="row d-flex justify-content-center align-items-center mx-auto">
    <div class="col col-xl-7">
      <div class="card my-2 mb-3">
        <div class="card-header">
          <h5>Информация об аккаунте</h5>
        </div>
        <div class="card-body clearfix">
          <div class="float-start">
            <h5 class="card-title mb-3">Account ID: {{ id }}</h5>
            <div class="font-monospace">
              <p class="card-subtitle mb-1">
                Баланс: <strong class="text-success">{{ balance }}</strong> gt
              </p>
              {% if telegram %}
                <p class="mb-1">
                  Телеграм: <a class="link-info" href="/account/telegram">{{ telegram }}</a>
                </p>
              {% endif %}
              <p class="mb-1">Создан: {{ created_at.toLocaleString('ru', { timeZone: 'Europe/Moscow' }) }}</p>
            </div>
          </div>
          <div class="float-end">
            {% if ban %}
              <h5 class="mx-2 my-1"><span class="badge text-bg-danger">Banned</span></h5>
            {% elif not telegram %}
              <a href="/account/telegram" class="btn btn-primary btn-sm">Привязать телеграм</a>
            {% endif %}
          </div>
        </div>
        <div class="card-footer">
          <details>
            <summary>Токен</summary>
            <code>{{ token }}</code>
          </details>
        </div>
      </div>
      <div class="card my-2 mb-3">
        <div class="card-header">
          <h5>Коды подтверждения</h5>
        </div>
        <div class="card-body overflow-auto">
          {% if codes.length > 0 %}
            <table class="table table-bordered table-hover table-sm font-monospace">
              <thead>
                <tr>
                  <th scope="col">ID транзакции</th>
                  <th scope="col">Код подтверждения</th>
                  <th scope="col">Истекает в</th>
                </tr>
              </thead>
              <tbody>
                {% for row in codes %}
                  <tr>
                    <th scope="row">{{ row.code.transaction_id }}</th>
                    <td>
                      <code>{{ row.code.code }}</code>
                    </td>
                    <td>{{ row.code.expires_at.toLocaleString('ru', { timeZone: 'Europe/Moscow' }) }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="text-secondary text-center">Кодов подтверждения пока нет.</div>
          {% endif %}
        </div>
      </div>
      <div class="card my-2 mb-2">
        <div class="card-header">
          <h5>Транзакции</h5>
        </div>
        <div class="card-body overflow-auto m-1">
          {% if transactions.length > 0 %}
            <table class="table table-hover table-bordered table-sm font-monospace">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Сумма</th>
                  <th scope="col">Дата</th>
                  <th scope="col">Тип</th>
                  <th scope="col">Описание</th>
                  <th scope="col">Статус</th>
                </tr>
              </thead>
              <tbody>
                {% for row in transactions %}
                  <tr>
                    <th scope="row">{{ row.id }}</th>
                    <td>
                      {% if row.to_id == id %}
                        <strong class="text-success bold">+{{ row.amount }}</strong>
                      {% else %}
                        <strong class="text-danger">-{{ row.amount }}</strong>
                      {% endif %}
                    </td>
                    <td>{{ row.created_at.toLocaleString('ru', { timeZone: 'Europe/Moscow' }) }}</td>
                    <td>
                      {% if row.type == 'emission' %}
                        <span class="badge text-bg-warning">{{ row.type }}</span>
                      {% elif row.type == 'commission' %}
                        <span class="badge text-bg-danger">{{ row.type }}</span>
                      {% else %}
                        <span class="badge text-bg-primary">{{ row.type }}</span>
                      {% endif %}
                    </td>
                    <td>{{ row.description }}</td>
                    <td>
                      {% if row.status == 'done' %}
                        <span class="badge text-bg-success">{{ row.status }}</span>
                      {% elif row.status == 'pending' %}
                        <span class="badge text-bg-secondary">{{ row.status }}</span>
                      {% elif row.status == 'blocked' or row.status == 'cancelled' %}
                        <span class="badge text-bg-danger">{{ row.status }}</span>
                      {% else %}
                        {{ row.status }}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav>
              <ul class="pagination justify-content-center my-2 mx-auto">
                <li class="page-item {% if prev_page <= 0 %} disabled {% endif %}">
                  <a class="page-link" href="/account?page={{ prev_page }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li class="page-item">
                  <div class="page-link">{{ current_page }}</div>
                </li>
                <li class="page-item {% if next_page <= 0 %} disabled {% endif %}">
                  <a class="page-link" href="/account?page={{ next_page }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
              </ul>
            </nav>
          {% else %}
            <div class="text-secondary text-center">Транзакций пока нет.</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
