{% extends base %}
{% block content %}
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-8">
      <div class="card my-1">
        <div class="card-body">
          <h5 class="card-title">Account ID: {{ id }}</h5>
          <p class="small mb-0">Баланс: {{ balance }} gt</p>
          <p class="small mb-0">Создан: {{ created_at.toLocaleString('ru', { timeZone: 'Europe/Moscow' }) }}</p>
        </div>
        <div class="card-footer">
          <details>
            <summary>Токен</summary>
            <code>{{ token }}</code>
          </details>
        </div>
      </div>
      <div class="card my-2">
        <div class="card-header">
          <h5>Коды подтверждения</h5>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">ID транзакции</th>
                <th scope="col">Код подтверждения</th>
                <th scope="col">Истекает в</th>
              </tr>
            </thead>
            <tbody>
              {% for row in codes %}
                <tr>
                  <th scope="row">{{ row.code.transaction_id }}</th>
                  <td>
                    <code>{{ row.code.code }}</code>
                  </td>
                  <td>{{ row.code.expires_at.toLocaleString('ru', { timeZone: 'Europe/Moscow' }) }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card my-2">
        <div class="card-header">
          <h5>Транзакции</h5>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата</th>
                <th scope="col">Тип</th>
                <th scope="col">Описание</th>
                <th scope="col">Статус</th>
              </tr>
            </thead>
            <tbody>
              {% for row in transactions %}
                <tr>
                  <th scope="row">{{ row.id }}</th>
                  <td>
                    {% if row.to_id == id %}
                      <strong class="text-success bold">+{{ row.amount }}</strong>
                    {% else %}
                      <strong class="text-danger">-{{ row.amount }}</strong>
                    {% endif %}
                  </td>
                  <td>{{ row.created_at.toLocaleString('ru', { timeZone: 'Europe/Moscow' }) }}</td>
                  <td>
                    {% if row.type == 'emission' %}
                      <span class="badge text-bg-warning">{{ row.type }}</span>
                    {% elif row.type == 'commission' %}
                      <span class="badge text-bg-danger">{{ row.type }}</span>
                    {% else %}
                      <span class="badge text-bg-primary">{{ row.type }}</span>
                    {% endif %}
                  </td>
                  <td>{{ row.description }}</td>
                  <td>
                    {% if row.status == 'done' %}
                      <span class="badge text-bg-success">{{ row.status }}</span>
                    {% elif row.status == 'pending' %}
                      <span class="badge text-bg-secondary">{{ row.status }}</span>
                    {% elif row.status == 'blocked' or row.status == 'cancelled' %}
                      <span class="badge text-bg-danger">{{ row.status }}</span>
                    {% else %}
                      {{ row.status }}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
