{% extends base %}
{% block content %}
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col col-xl-8">
    <div class="card my-2 mb-2">
      <div class="card-header">Уведомления через Telegram</div>
      <div class="card-body">
        <div class="mb-4">
          <h4>Как включить уведомления?</h4>
          <ul>
            <li>Введите свой телеграм username</li>
            <li>Нажмите "Сохранить"</li>
            <li>
              Запустите телеграм бота <a href="https://t.me/gotobank_bot?start=start" target="_blank">@gotobank_bot</a>
            </li>
          </ul>
        </div>
        <div>
          <form method="post" class="needs-validation" novalidate>
            <div class="mb-2">
              <label>Телеграм</label>
              <input class="form-control w-50" name="telegram_username" type="text" value="{{ telegram_username }}" required />
              <div class="invalid-feedback">Пожалуйста, введите username телеграм!</div>
              <div class="valid-feedback">Отлично!</div>
            </div>
            <button class="btn btn-outline-primary" type="submit" formmethod="post">Сохранить</button>
            {% if telegram_username%}
            <button class="btn btn-outline-danger" formaction="telegram/delete">Удалить</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}