{% extends base %}
{% block content %}
  <div class="lead">
    <h1 class="my-3">Добро пожаловать в банк всея GoTo!</h1>
    Наш банк позволяет оплачивать покупки и совершать переводы по номеру счета любым участникам GoToCamp.
    <br /><br />
    Создать счет, смотреть историю операций и подтверждать покупки можно через наш сайт!
    <br />
    Получать уведомления можно через нашего <a href="/account/telegram">телеграм бота</a>. Для этого нужно привезать к счёту свой телеграм!
    <br /><br />
    Совершить перевод или запросить оплату покупки на данный момент можно только через API (<a href="/docs">документация</a>).
    <br /><br/>
    <h4 class="mb-3">Экономический надзор</h4>
    Участникам кластера запрещено совершать любые операции, нарушающие работу технологических и экономических процессов Банка.
    <br /><br />
    При обнаружении подобных действий, а также случаев отмывания денег и циклических переводов, соответствующие счета могут быть заблокированы, транзакции анулированы, а их владельцы оштрафовавы и лишены доступа к торговым процессам.
  </div>
{% endblock %}
