{% extends base %}
{% block content %}
  <div class="row d-flex justify-content-center align-items-center mx-auto">
    <div class="col col-xl-7">
      <div class="card">
        <div class="card-header">
          <h5>Админская панель</h5>
        </div>
        <div class="card-body">
          {% if admin_level >= 1%}
          <h5 class="card-title text-center mb-2">Финансы</h5>
          <div class="d-grid gap-2 my-3 mx-4">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#emission">Напечатать деньги</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#commission">Оштрафовать</button>
          </div>
          {% endif %}
          {% if admin_level >= 2%}
          <h5 class="card-title text-center mb-2">Операции с аккаунтами</h5>
          <div class="d-grid gap-2 my-3 mx-4">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ban">Забанить аккаунт</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#unban">Разбанить аккаунт</button>
          </div>
          {% endif %}
          {% if admin_level >= 3%}
          <h5 class="card-title text-center mb-2">Операции с админами</h5>
          <div class="d-grid gap-2 my-3 mx-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_admin">Добавить админа</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_admin">Удалить админа</button>
          </div>
          {% endif %}
          <h5 class="card-title text-center mb-2">История транзакций</h5>
          <div class="d-grid gap-2 my-3 mx-4">
            <a class="btn btn-info" href="/admin/history">История транзакций</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="emission" tabindex="-1" aria-labelledby="emission" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Напечатать деньги</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="admin/emission" class="needs-validation" novalidate>
            <div class="modal-body">
              <div class="mb-4">
                <label>ID аккаунта</label>
                <input class="form-control" type="number" name="to_id" required />
                <div class="invalid-feedback">Пожалуйста, введите ID получателя!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
              <div class="mb-4">
                <label>Сумма</label>
                <input class="form-control" type="number" name="amount" required />
                <div class="invalid-feedback">Пожалуйста, введите сумму!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
              <div class="mb-4">
                <label>Описание</label>
                <input class="form-control" type="text" name="description" required />
                <div class="invalid-feedback">Пожалуйста, введите описание!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Напечатать</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="commission" tabindex="-1" aria-labelledby="commission" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Оштрафовать</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="admin/commission" class="needs-validation" novalidate>
            <div class="modal-body">
              <div class="mb-4">
                <label>ID аккаунта</label>
                <input class="form-control" type="number" name="from_id" required />
                <div class="invalid-feedback">Пожалуйста, введите ID штрафуемого!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
              <div class="mb-4">
                <label>Сумма</label>
                <input class="form-control" type="number" name="amount" required />
                <div class="invalid-feedback">Пожалуйста, введите сумму!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
              <div class="mb-4">
                <label>Описание</label>
                <input class="form-control" type="text" name="description" required />
                <div class="invalid-feedback">Пожалуйста, введите описание!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Оштрафовать</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ban" tabindex="-1" aria-labelledby="ban" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Забанить</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="admin/ban" class="needs-validation" novalidate>
            <div class="modal-body">
              <div class="mb-4">
                <label>ID аккаунта</label>
                <input class="form-control" type="number" name="account_id" required />
                <div class="invalid-feedback">Пожалуйста, введите ID аккаунта!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Забанить</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="unban" tabindex="-1" aria-labelledby="unban" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Разбанить</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="admin/unban" class="needs-validation" novalidate>
            <div class="modal-body">
              <div class="mb-4">
                <label>ID аккаунта</label>
                <input class="form-control" type="number" name="account_id" required />
                <div class="invalid-feedback">Пожалуйста, введите ID аккаунта!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Разбанить</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="add_admin" tabindex="-1" aria-labelledby="add_admin" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить админа</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="admin/add_admin" class="needs-validation" novalidate>
            <div class="modal-body">
              <div class="mb-4">
                <label>ID нового админа (GoToID)</label>
                <input class="form-control" type="number" name="admin_id" required />
                <div class="invalid-feedback">Пожалуйста, введите ID!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
              <div class="mb-4">
                <label>Правовой уровень (0-3)</label>
                <input class="form-control" type="number" name="level" required />
                <div class="invalid-feedback">Пожалуйста, введите правовой уровень!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete_admin" tabindex="-1" aria-labelledby="delete_admin" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Удалить админа</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="admin/delete_admin" class="needs-validation" novalidate>
            <div class="modal-body">
              <div class="mb-4">
                <label>ID админа (GoToID)</label>
                <input class="form-control" type="number" name="admin_id" required />
                <div class="invalid-feedback">Пожалуйста, введите ID!</div>
                <div class="valid-feedback">Отлично!</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Удалить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
